.Button{
  background-color: aliceblue;
  outline: 0;
  box-shadow: 2px 2px #000000;
  width: 65px;
  height: 25px;
  padding: 4px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
}

.Button:not(:last-child){
  margin-right: 10px;
}

.Button:hover{
  transition-duration: 1s;
  box-shadow: none;
}